@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
  --color-accent: #606060;
  --color-dark: #1f1f1f;
  --color-black: #0b0b0b;
  --color-base-content: #b8b7b7;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-primary {
  @apply bg-[#03373d] text-[#bee44b] border-0 shadow-none rounded-full font-bold px-8;
}

.btn-primary:hover {
  @apply bg-[#bee44b] text-[#000000] border-0 shadow-none rounded-full font-bold px-8 transition duration-300 ease-in-out;
}

.btn-secondary {
  @apply btn-outline bg-transparent border-[#b4b4b4] text-[#1f1f1f] rounded-xl font-bold px-6;
}
.btn-secondary:hover {
  @apply border-[#03373d] text-[#03373d] shadow-none  transition-all duration-300 ease-in-out;
}
